<template>
    <div>
        <nav> 
            <div class="menu">
                <a class="logo" href="/">receliciousa.</a>
                <nuxt-link to="/">Home</nuxt-link>
                <nuxt-link to="/about">About</nuxt-link>
                <nuxt-link to="/favorite" v-if="sLogin">Bookmark</nuxt-link>
            </div>
            <div class="navbar-nav ml-auto">
                <nuxt-link to="" v-if="sLogout" data-toggle="modal" data-target="#loginModal"><button type="button" class="btn btn-outline-light">Login</button></nuxt-link>
                <nuxt-link to="/"><button type="button" v-on:click="logout" v-if="sLogin" class="btn btn-outline-light text-judul">Logout</button></nuxt-link>
            </div>
        </nav>
        
        <!-- MODAL LOGIN-->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="background-color: black;">
                <div class="modal-header" style="background-color: black;">
                    <h5 class="modal-title" id="exampleModalCenterTitle" style="color:white;">Login Now!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background-color: black;">
                    <div class="form-group" style="background-color: black;">
                    <label for="exampleInputEmail1">Username</label>
                    <input v-model="userLogin.usernameLogin" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group" style="background-color: black;">
                    <label for="exampleInputPassword1">Password</label>
                    <input v-model="userLogin.passwordLogin" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                </div>
                <div class="modal-footer" style="background-color: black;">
                    <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#registerModal">Register</button>
                    <a href="" type="button" class="btn btn-outline-light" @click.prevent="signIn" data-dismiss="modal">Sign In</a>
                </div>
                </div>
            </div>
            </div>

            <!-- MODAL REGISTER-->
            <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="background-color: black;">
                <div class="modal-header" style="background-color: black;">
                    <h5 class="modal-title" id="exampleModalCenterTitle" style="color:white;">Account Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="background-color: black;">
                    <label for="exampleInputEmail2">Username</label>
                    <input v-model="userRegister.usernameRegister" type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group" style="background-color: black;"> 
                    <label for="exampleInputPassword2">Password</label>
                    <input v-model="userRegister.passwordRegister" type="password" class="form-control" id="exampleInputPassword2">
                    </div>
                </div>
                <div class="modal-footer" style="background-color: black;">
                    <a href="" type="button" class="btn btn-outline-light" @click.prevent="signUp" data-dismiss="modal">Sign Up</a>
                </div>
                </div>
            </div>
            </div>
        </div>
</template>
<style>
    body {
        background-color: #313131;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: #ccc;
        margin: 5px;
        padding: 5px 10px;
        font-size: 14px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        background-color: #353234;
        height: 40px;
        align-items: center;
    }
    a:hover{
        color:#fff ;
    }
    .menu {
        margin-left: 30px;
        text-decoration: none;
    }

    .logo {
        font-size: 1.4em;
        font-weight: 600;
    }

    .shop {
        display: inline-block;
        position: relative;
    }

    .shop>a {
        display: flex;
        align-items: center;
    }

    .shop>a::after {
        content: "";
        width: 5px;
        height: 5px;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        position: absolute;
        right: 0px;
        transform: rotate(135deg);
        align-self: center;
    }

    .drop {
        display: none;
        position: absolute;
        background-color: #fff;
        border-radius: 5px 5px 0px;
        width: 85px;
    }

    .drop a {
        line-height: 20px;
        display: block;
        margin: 3px;
        color: #313131;
        padding: 0 5px;
        position: relative;
    }

    .drop a:hover, .dropTwo>a:hover, .more a:hover {
        color: #000;
        background-color: rgb(221, 253, 248);
    }

    .drop .shirt>a {
        display: flex;
        align-items: center;
    }

    .drop .shirt>a::after {
        content: "";
        width: 5px;
        height: 5px;
        border-top: 2px solid #313131;
        border-right: 2px solid #313131;
        position: absolute;
        right: 5px;
        transform: rotate(45deg);
    }

    .shop:hover .drop {
        display: block;
    }

    /*-----------*/

    .shirt {
        position: relative;
    }

    .dropTwo {
        display: none;
        background-color: #fff;
        position: absolute;
        left: 100%;
        width: 85px;
        border-radius: 0px 5px 5px;
        top: 0;
    }

    .shirt:hover .dropTwo {
        display: block;
    }
    .close{
        color:rgb(221, 253, 248);
    }

    /* --------- Extra ------------ */

    .extra {
        margin-right: 30px;
    }

    .translate {
        display: inline-block;
        position: relative;
    }

    .extra>a {
        border: 2px solid #cbc;
        border-radius: 20px;
    }

    .translate>a {
        border-left: 1px solid #cbc;
        line-height: 36px;
    }

    .more a {
        color: #313131;
    }

    .more {
        display: none;
        position: absolute;
        background-color: #fff;
        border-radius: 5px 5px;
        right: 0;
        width: 80px;
    }

    .more a {
        line-height: 20px;
        display: block;
        margin: 3px;
        color: #313131;
        padding: 0 5px;
    }
    .modal-body{
        background-color: black;
    }
    label{
        color: white;
    }
    div.modal-header{
        background-color: black;
    }
    div.modal-footer{
        background-color: black;
    }


    /* --------------------- */

</style>
<script>
export default {
    data() {
        return {
        userLogin: {
            usernameLogin: '',
            passwordLogin: ''
        },
        userRegister: {
            usernameRegister: '',
            passwordRegister: ''
        }
        }
    },
    computed: {
        sLogin: function (){
        return this.$store.state.statusLogin
        },
        sLogout: function (){
        return this.$store.state.statusLogout
        }
    },
    methods: {
        logout: function(){
        this.$store.dispatch("prosesLogout")
        },
        signIn: function (){
        this.$store.dispatch("LOGIN",this.userLogin)
        this.userLogin = {
            usernameLogin: '',
            passwordLogin: ''
        }
        },
        signUp: function (){
        this.$store.dispatch("REGISTER",this.userRegister)
        this.userRegister = {
            usernameRegister: '',
            passwordRegister: ''
        }
        }
    }
}
</script>
