<template>
<div class="container">
  <ul class="menu">
    <li> <router-link to="/"> Home </router-link> </li>
    <li> <router-link to="/about"> About </router-link> </li>
    <li> <router-link to="/contact"> Contact </router-link> </li>
  </ul>
  <h1> Tulis Kontakmu dibawah </h1>
  <ul class="contact">
    <li> Faacebok</li>
    <li> Medium </li>
    <li> Twiter </li>
  </ul>
</div>
</template>
<script>
</script>
<style scoped>
.container {
  width: 75%;
  margin: 100px auto;
  text-align: center;
  }
  .content p {
  text-align: justify;
  }
  h1 {
  margin-bottom:20px;
  }
  .menu {
  list-style: none;
  margin-bottom: 20px;
  }
  .menu li,
  .contact li {
  display: inline;
  }
  .menu li a {
  padding: 20px;
  text-decoration: none;
  }
  .contact {
  list-style: none;
  }
</style>